.nav {
    background-color: rgba(18, 19, 24, .8);
    padding: 15px;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
}
.nav a {
    text-decoration: none;
    color: var(--gray-color);
    font-weight: 200 ;
}
.logo {
    margin-left: 30px;
    display: flex;
}
.logo img {
    width: 35px;
    height: 35px;
    border-radius: 20%;
}
.logo a {
    padding-top: -20px;
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
}
.nav-links {
    font-size: 16px;
    padding-top: 7px;
    padding-left: 300px;
    margin-left: auto;
    margin-right: auto;
}
.nav-links a {
    margin-left: 20px;
    transition: .3s;
}
.nav-links .link:focus {
    text-decoration: under;
}
.nav-links .link:hover {
    color: var(--white-color);
    transition-duration: .3s;
}
.link {
    color: var(--white-color);
}
.contact {
    margin-left: auto;
    margin-right: 50px;
    padding-top: 10px;
}
.contact-nav {
    border: 2px solid var(--main-color);
    border-radius: 15px;
    padding: 10px;
}
.contact-nav:hover {
    transition-duration: .3s;
    color: var(--white-color);
    background-color: var(--main-color);
}