<link rel="stylesheet" href="./styles/footer.css">

<footer>

        <div class="footer-logo">
            <div class="footer-logo-text">
                <a href=""><h2><%= info.firstName %></h2></a>
            </div>
            <a href="mailto:mokarabiex55@gmail.com"><img src="../assets/gmail.png" alt=""></a>
            <a href="https://discord.com/users/859042890067214337"><img src="../assets/discord (4).png" alt=""></a>
            <a href="https://github.com/Stark2Coder"><img src="../assets/github.png" alt=""></a>
            <div class="footer-copyright">
                <p>No Copyright 2023 • <%= info.fullName %> . Webflow cloneable</p>
            </div>
        </div>

        <div class="footer-links">
            <a class="footer-link" href="/">Home</a>
            <a class="footer-link" href="/about">About</a>
            <a class="footer-link" href="/portfolio">Portfolio</a>
            <a class="footer-link" href="/contact">Contact</a>
            <a class="footer-link" href="/terms">Terms Of Service</a>
        </div>

</footer>