<link rel="stylesheet" href="./styles/header.css">

    <div class="nav">
        <div class="logo">
            <a href="/"><img src="<%= myLogo %>" alt=""></a>
        </div>
    
        <div class="nav-links">
            <a class="link" href="/">Home</a>
            <a class="link" href="/about">About</a>
            <a class="link" href="/portfolio">Portfolio</a>
        </div>
        <div class="contact">
            <a class="link contact-nav" href="/contact">Contact</a>
        </div>
    </div>
